:host {
    --sds-c-card-color-background: #f8f2ff;
}


.logo-header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* bold text */
  font-weight: bold;
  font-size: 1.2rem;
}

.logo-header img {
  height: 40px;
  margin-right: 10px;
  margin-left: 20px;
}

